#wrap{
    width:1200px;
    background-color:rgb(0, 0, 0);
    margin: 0 auto;
}

#top{
    background-color: white;
    width: 1200px;
    color:black;
    font-family: serif;
    text-align: center;
    
}

#middle{
    color:black;
    width: 100px;
    background-color:white;
    font-family: serif;
}

.instrument{
    width: 1200px;
    display: flex;
}

.side_text{
    font-size:large;
    color:black;
    width: 800px;
}

.setumei{
    font-size: large;
    color: black;
    width: 1200px;
}

.hr1{
    padding: 0px;
    border-top: 10px double black;


}

#bottom{
    color:black;
    width: 1200px;
    background-color:white;
    font-family: serif;
}

.instrument{
    border-top: 5px black dotted;


}
